<div class="container login">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
<div class="center span4 well text-center">
    <% if f.error_notification %>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= f.error_notification %>
          <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
          <% end %>
        </div>
    <% end %>
  <legend><%= t('application.devise.registrations.new.title') %></legend>
  <%= f.text_field :name, :autofocus => true, :placeholder => t('application.devise.registrations.new.placeh_name') %>
  <%= f.email_field :email, :placeholder => t('application.devise.registrations.new.placeh_mail') %>
  <%= f.password_field :password, :placeholder => t('application.devise.registrations.new.placeh_pass') %>
  <%= f.password_field :password_confirmation, :placeholder => t('application.devise.registrations.new.placeh_pwdc') %>
  <div><br /><%= f.submit t('application.devise.registrations.new.title'), :class => "btn btn-primary" %></div>
<% end %>
<br />
<%= render "devise/shared/links" %>
</div>
</div>
