<%= simple_form_for([@project,@apkapp]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <label><%= t('application.apkapps.form.label_name') %></label>
    <%= f.text_field :name %>

    <label><%= t('application.apkapps.form.label_bundleID') %></label>
    <%= f.text_field :bundleID %>

    <label><%= t('application.apkapps.form.label_autonoti') %> <%= f.check_box :autonotification, :as => :boolean %></label>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
