<div class="container login">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<div class="center span4 well text-center">
	<legend><%= t('application.devise.passwords.new.title') %></legend>
  <%= devise_error_messages! %>

  <div><%= f.email_field :email, :autofocus => true, :placeholder => t('application.devise.passwords.new.mail') %></div>

  <div><%= f.submit t('application.devise.passwords.new.submit'), :class => "btn btn-large btn-inverse" %></div>
<% end %>
<br />
<%= render "devise/shared/links" %>
</div>
</div>
