<div class="container login">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<div class="center span4 well text-center">
	<legend>Forgot your password?</legend>
  <%= devise_error_messages! %>

  <div><%= f.email_field :email, :autofocus => true, :placeholder => "Your E-mail address" %></div>

  <div><%= f.submit "Send me reset password instructions", :class => "btn btn-large btn-inverse" %></div>
<% end %>
<br />
<%= render "devise/shared/links" %>
</div>
</div>
