<h1><%= t('application.customers.index.title') %></h1>

<h2><%= link_to t('application.customers.index.link_new_cu'), new_customer_path, :class => 'btn btn-info icon' %></h2>

<table>
  <tbody>
    <ul class="thumbnails">
      <% @customers.each do |customer| %>
      <li class="span5 clearfix">
        <div class="thumbnail clearfix">
          <div class="row customerbox">

          <%- if customer.image_uid %>
            <%= image_tag(customer.image.thumb('200x200').url, :alt => customer.name, :class => "pull-left span2 clearfix img-polaroid", :style => 'margin-right:10px') %>
          <%- else %>
            <%= image_tag("http://placehold.it/200x200", :alt => customer.name, :class => "pull-left span2 clearfix img-polaroid", :style => 'margin-right:10px') %>
          <% end %>

          <div class="caption">
            <h4>
            <%= link_to customer.name, customer %>
            </h4>
            <small><strong><%= t('application.customers.index.caption_id') %></strong><%= customer.id %></small>
          </div>

          <ul class="span1 pull-right">
            <li><%= link_to t('application.info'), customer, :class => 'btn btn-info icon  pull-right' %></li>
            <li><%= link_to t('application.edit'), edit_customer_path(customer), :class => 'btn btn-inverse icon  pull-right' %></li>
            <li><%= link_to t('application.delete'), customer,method: :delete, data: { confirm: t('application.devise.registrations.edit.sure') }, :class => 'btn btn-danger icon  pull-right' %></li>
            </ul>
          </div>
        </div>
      </li>
    <% end %>
    </ul>
  </tbody>
</table>

<br>
