<%= simple_form_for(@project) do |f| %>
    <% if f.error_notification %>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= f.error_notification %>
          <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
          <% end %>
        </div>
    <% end %>

  <div class="inputs">
  	<label><%= t('application.projects.form.label_name') %></label>
    <%= f.text_field :name %>

    <%= f.association :customers, :collection => @organization.customers, value_method: :_id, include_blank: false %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
