<h1><%= @project.name %></h1>
<h2><%= link_to t('application.projects.show.new_app_ios'),new_project_ipaapp_path(:project_id => @project.id),:class=> 'btn btn-inverse'%> <%= link_to t('application.projects.show.new_app_apk'),new_project_apkapp_path(:project_id => @project.id), :class => 'btn btn-success' %></h2>
<% if @project.ipaapps.count >0 then %>
<table class="table table-bordered table-striped">
  <thead>
    <blockquote>
      <h3 class="muted"><%= t('application.projects.index.th_ipa') %></h2>
    </blockquote>
    <tr>
      <th><%= t('application.projects.index.th_app') %></th>
      <th><%= t('application.projects.index.th_last_up') %></th>
      <th><%= t('application.projects.index.th_last_build') %></th>
      <th><%= t('application.projects.index.th_commands') %></th>
    </tr>
  </thead>

  <tbody>
    <% @project.ipaapps.each do |ipa_app| %>
      <tr>
        <td>
          <% if false %>
            <%= image_tag(ipa_app.ipabuilds.last.icon.thumb('40x40').url, :class => "clearfix img-polaroid") %>
          <% elsif %>
            <%= image_tag("http://placehold.it/40x40", :class => "clearfix img-polaroid") %>
          <% end %>
          <blockquote class="inline-table">
            <p>
              <%= link_to ipa_app.name, project_ipaapp_path(:project_id =>@project._id, :id => ipa_app._id) %>
            </p>
            <%= ipa_app.bundleID %>
          </blockquote>
        </td>
        <td></td>
        <td></td>
        <td class="cell-buttons"><%= link_to t('application.ipaapps.index.edit'), edit_project_ipaapp_path(:project_id => @project.id,:id => ipa_app._id), :class => 'btn btn-inverse' %> <%= link_to "Delete", project_ipaapp_path(:project_id => @project.id,:id => ipa_app._id),:method => :delete, data: { confirm: t('application.projects.index.sure') }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @project.apkapps.count >0 then %>
<table class="table table-bordered table-striped">
  <thead>
    <blockquote>
      <h3 class="text-success"><%= t('application.projects.index.th_apk') %></h2>
    </blockquote>
    <tr>
      <th><%= t('application.projects.index.th_app') %></th>
      <th><%= t('application.projects.index.th_last_up') %></th>
      <th><%= t('application.projects.index.th_last_build') %></th>
      <th><%= t('application.projects.index.th_commands') %></th>
    </tr>
  </thead>
  <tbody>
    <% @project.apkapps.each do |apk_app| %>
      <tr>
        <td><%= link_to apk_app.name, apk_app %></td>
        <td><%#= link_to t('application.projects.index.list'), project_path(project._id), :class => 'btn btn-info' %> <%#= link_to t('application.projects.index.edit'), edit_project_path(project), :class => 'btn btn-inverse' %> <%#= link_to "Delete", project, method: :delete, data: { confirm: t('application.projects.index.sure') }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>