<div class="container login">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<div class="center span4 well text-center">
  <legend>Sign In</legend>
  <%= f.email_field :email, :autofocus => true, :placeholder => "E-mail address"  %>
  <%= f.password_field :password, :placeholder => "Password" %>	<br />

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end -%>

  <%= f.submit "Sign in", :class => "btn btn-success" %>

  <br />

<% end %>

  <br />
  <%= render "devise/shared/links" %>

</div>
</div>