<p><%= t('application.devise.mailer.greetings') %></p>

<p><%= t('application.devise.mailer.reset_password.info') %></p>

<p><%= link_to t('application.devise.mailer.reset_password.link'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('application.devise.mailer.reset_password.ignore') %></p>
<p><%= t('application.devise.mailer.reset_password.notice') %></p>
