<% if user_signed_in? %>
<ul class="nav">
<li>
    <%= link_to t('application.navigation.dashboard'), root_path, :class => 'brand' %>
</li>
<li>
    <%= link_to t('application.navigation.customers'), customers_path %>
</li>
<li class="divider-vertical"></li>
<li>
    <%= link_to t('application.navigation.projects'), projects_path %>
</li>
<li class="divider-vertical"></li>
</ul>
<% end %>
<ul class="nav pull-right">
  <% if user_signed_in? %>
        <li>
          <%= link_to t('application.navigation.account.edit'), edit_user_registration_path %>
        </li>
        <li>
        <%= link_to t('application.navigation.account.logout'), destroy_user_session_path, :method=>'delete' %>
        </li>
  <% else %>
    <li>
    <%= link_to t('application.navigation.account.signup'), new_user_registration_path %>
    </li>
    <li>
    <%= link_to t('application.navigation.account.login'), new_user_session_path %>
    </li>
  <% end %>
</ul>