<% if user_signed_in? %>
<ul class="nav">
<li>
    <%= link_to t('application.navigation.dashboard'), root_path, :class => 'brand' %>
</li>
<li>
    <%= link_to t('application.navigation.customers'), customers_path %>
</li>
<li class="divider-vertical"></li>
<li>
    <%= link_to t('application.navigation.projects'), projects_path %>
</li>
<li class="divider-vertical"></li>
</ul>
<% end %>
<div class="nav pull-right">
  <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t('application.navigation.options') %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% if user_signed_in? -%>
    <li class="disabled">
      <a href="#">
      <strong><%= t('application.navigation.orgs') %></strong>
      </a>
    </li>
      <% available_organizations.each do |org| -%>
        <% if org._id.to_s != current_organization %>
          <li>
            <%= link_to "-- #{org.name}", '#', :onclick => "document.cookie =\"current_organization=#{org._id.to_s}\";path=\"/\";location.reload()" %>
          </li>
        <% else %>
            <li class="disabled">
            <%= link_to "-- #{org.name}", "#" %>
          </li>
      <% end -%>
    <% end %>
        <li class="disabled">
        <a href="#">
        <strong><%= t('application.navigation.account_dot') %></strong>
        </a>
        </li>
        <li>
          <%= link_to t('application.navigation.account.edit'), edit_user_registration_path %>
        </li>
        <li>
        <%= link_to t('application.navigation.account.logout'), destroy_user_session_path, :method=>'delete' %>
        </li>
  <% else %>
    <li>
    <%= link_to t('application.navigation.account.signup'), new_user_registration_path %>
    </li>
    <li>
    <%= link_to t('application.navigation.account.login'), new_user_session_path %>
    </li>
  <% end %>
  </ul>
</div>
